build/
output/
.analysis-history.log
analysis
test_data.csv
	SymbolicC++/SymbolicC++3-3.35/.libs/
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc++.la
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-array.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-array.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-cloning.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-cloning.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-constants.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-constants.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-derive.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-derive.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-equation.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-equation.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-functions.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-functions.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-identity.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-identity.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-integrate.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-integrate.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-matnorm.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-matnorm.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-matrix.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-matrix.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-multinomial.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-multinomial.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-number.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-number.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-polynomial.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-polynomial.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-product.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-product.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-quatern.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-quatern.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-rational.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-rational.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-solve.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-solve.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-sum.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-sum.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symbol.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symbol.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symbolic.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symbolic.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symbolicc++.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symbolicc++.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symerror.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symerror.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symmatrix.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-symmatrix.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-vecnorm.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-vecnorm.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-vector.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-vector.o
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-verylong.lo
	SymbolicC++/SymbolicC++3-3.35/libsymbolicc___la-verylong.o
